body {
    text-align: center;
    background-image: url(https://img.freepik.com/foto-gratuito/promemoria-per-notebook-e-carta-su-sfondo-giallo-vista-dall-alto_169016-39196.jpg?semt=ais_hybrid);
    background-size: cover;
    background-repeat: no-repeat;
}

#middle {
    margin-top: 20em;
}

#btnInvio {
    background-color:#FDE94F;
    border-radius: 5px;
}

fieldset {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}

#insertTask {
    width: 80%;
}

#lista {
    padding: 0;
    text-align: center;
}

#lista li {
    padding: 5px;
    text-align: start;
    position: relative;
    list-style: none;
   border: 1px solid black;
   border-radius: 5px;
   margin-bottom: 5px;
}

#lista button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1px;
    width: 10%;
}

.completato {
    text-decoration: line-through;
}